@media (max-width: 1000px){

}

@media  (max-width: 670px){
  .container{
    width: 90%;
  }
  .heading1{
    text-align: center;
  }
  .heading2{
    text-align: center;
  }
  .news-wrapper{
    padding: 0;
  .news{
    flex-direction: column;
    .news1{
      width: 100%;
      }
    .news2{
      width: 100%;
      .text{
        width: 100%;
      }
      }
    }
}

.originals-wrapper{
  padding: 0;
  .answer{
    padding-right: 20px;
  .answer-list-item{
    float: none;
    width: 100%;
    border-bottom: 1px solid #ccc;
    img{
      height: 250px;
    }
  }
}
}


}
